build/
dist/
lib/
nbproject/
src/*
.git/
build.xml

Enchere-ejb/build/
Enchere-ejb/dist/
Enchere-ejb/nbproject/
Enchere-ejb/src/conf/
Enchere-ejb/build.xml
Enchere-ejb/src/java/entity/EntityManagerLocal.java

Enchere-war/build/
Enchere-war/dist/
Enchere-war/nbproject/
Enchere-war/src/conf/
Enchere-war/test/
Enchere-war/web/WEB-INF/glassfish-web.xml
Enchere-war/build.xml

